<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>JotDown requires permission to save notes directly to the Apple Notes app.</string>
	<key>LSUIElement</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>RKB0BVpRGvOu2CgxSSB7MG7lXIQhAg8ZQQHyu8eFCwA=</string>
	<key>SUFeedURL</key>
	<string>https://jotdown.rishisingh.in/updates/appcast.xml</string>
</dict>
</plist>
